<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    main {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
      padding: 20px;
    }
    main ul, main ol {
      list-style-position: inside;
      padding-left: 0;
    }
  </style>
  
</head>
<body>

  {% include header.html %}

  <main style="max-width: 800px; width: 100%; margin: 0 auto; padding: 20px; text-align: left;">
    {{ content }}
  </main>

</body>
</html>
